*{margin: 0px; padding: 0px; box-sizing: border-box;}

.fonts-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* Share Style */
.btn{color: white;
  font-size: 16px;
  font-weight: 600px;

  background-color: #30b868;
  border: none;
  border-radius: 4px;
  padding: 12px 16px;
  cursor: pointer;
}
#btn2{
  color: white;
  font-size: 16px;
  font-weight: 600px;

  background-color:#ffffff00;
  border: 1px solid white;
  border-radius: 4px;
  padding: 12px 16px;
  cursor: pointer;
}


/* Main style */
header{
  
}

nav{max-width: 1600px;
  height: 92px;
  padding: 16px 120px;
  display: flex;
  justify-content: space-between;
}

nav .options{ list-style: none;
  display: flex;
  gap: 32px;
  align-items: center;
}

nav a{color: black;
  font-size: 16px;
  font-weight:500px;
  text-decoration: none;
}



#Poster {
  /* border: 1px solid red; */
max-width: 1600px;
height: 674px;
background-color: darkgray;
padding: 115px 120px 263px;



}

.poster-content{ width: 85%;
  max-width: 1600px;
margin: 0 auto;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
text-align: center;
}
.poster-content button{text-align: center;}

.poster-content h4{color: #30b868;
  font-size: 16px;
  font-weight: 500px;
  padding: 8px 12px 8px 34px;
  margin-bottom: 16px;
  text-align: center;
  margin: 0 auto;
  margin-top: ;
  
  
background-color: white;
width: 229px;
height: 36px;
border: none;
border-radius: 1000px;
cursor: pointer;
}

.poster-content h1{max-width: 770px;
    max-height: 168px;
  color: white; 
  font-size: 72px;
  font-weight: bold;
  margin-bottom: 16px;}

#Poster .Green{color: #30b868;
}



.poster-content p{max-width: 1360px;
  max-height: 60px;
  font-size: 18px;
line-height: 24px;
color: #FFFFFF;
margin-bottom: 32px;
}

#Poster .Button-space{display: flex;
gap: 16px;}





/* main */

#about{padding:0px 120px;}

.orange{ background-color: #F95555;
width: 60px;
height: 60px;
border-radius: 50%;
margin: 0 auto;
}

.orange img{padding: 14px;}

#about .heading h1{margin-bottom: 16px;}
#about .heading p{font-size: 16px;
color: #627382;
line-height: 20px;}
#about .contants{ 
  max-width: 1600px;
  /* max-height: 300px; 
  width: 85%;*/
text-align: center;
margin: 0 auto ;
}

#about .contants .cards{
  display: flex;
  gap: 24px;
  margin-top: 44px;
  
}

.cards .cards-info{
  padding: 24px;
  max-width: 322px;
  /* max-height: 300px; */
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.06);
}

.cards-info img{
  width: 60px;
  border-radius: 50%;
  background-color: #F95555;
  margin-bottom: 16px;
}


.cards-info h3{ font-size: 24px;
  font-weight: 600px;
  margin-bottom: 16px;
}

.cards-info p{font-size: 16px;
line-height: 20px;
color: #627382;}


/* Main part two */

#solutions{ padding: 120px;
  display: flex;
  gap:60px;
  width: 1360px;

}

#solutions .picture{width: 600px;
}

#solutions .description-1 {max-width: 700px;
  max-height: 396px; 

}

.description-1 .dc1{ font-size: 16px;
  font-weight: 500px;
  line-height: 20px;
  color: #30b868;
  margin-bottom: 16px;

}

.description-1 h5{font-size: 48px;
font-weight: bold;
color: #001931;
margin-bottom: 16px;}

.description-1 p{ font-size: 16px;
  line-height: 20px;
  color: #627382;
  margin-bottom: 40px;
}

.description-2 h6{font-size: 16px;
line-height: 20px;
color: #001931;
margin-bottom: 16px;
display: flex;
gap: 6px;
}

/* Main part three */
#think{ padding: 0px 120px 120px 120px;}
#think .t-contents{ max-width: 1360px;
  padding: 80px 40px;
  background-color: #F7F6F2;
  text-align: center;

}

.t-contents .t-header h2{ font-size: 40px;
  font-weight: bold;
  color: #001931;
  margin-bottom: 16px;
}

.t-contents .t-header p{ font-size: 16px;
line-height: 24px;
color: #627382;
margin-bottom: 24px;
}

#think .t-body p{ color: #627382;
  font-size: 16px;
  line-height: 20px;
  margin-top: 16px;
}


/* Footer part */