*{margin: 0px; padding: 0px; box-sizing: border-box;}

.fonts-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* Share Style */
.btn{color: white;
  font-size: 16px;
  font-weight: 600px;

  background-color: #30b868;
  border: none;
  border-radius: 4px;
  padding: 12px 16px;
  cursor: pointer;
}

/* Main style */
header{}

nav{width: 100%;
  max-width: 1600px
  hight: 92px;
  padding: 16px 120px;
  display: flex;
  justify-content: space-between;
}

nav .options{ list-style: none;
  display: flex;
  gap: 32px;
  align-items: center;
}

nav a{color: black;
  font-size: 16px;
  font-weight:500px;
  text-decoration: none;
}

nav .distance{justify-content: center;}

.button{text-align: right;}


